{% extends "_base.html" %}

{% block content %}

<div class="flex justify-center">
    <div class="w-full max-w-md">
        <div class="flex justify-center ">

            <h1 class="mb-4 text-2xl font-semibold text-center">AGREGAR PLAN</h1>
        </div>
        <form action="" method="post">
            
            {% csrf_token %}
            <select class="w-full mb-2 px-4 py-2 rounded-md border border-gray-300 placeholder-gray-500 focus:outline-none focus:border-indigo-500" name="servicio">
                {% for servicio in servicios %}
                <option value="{{servicio.id}}">{{servicio.nombre}}</option>
                {% endfor %}
            </select>
            <input type="text" class="w-full mb-2 px-4 py-2 rounded-md border border-gray-300 placeholder-gray-500 focus:outline-none focus:border-indigo-500" placeholder="Nombre" name="nombre" required>
            <input type="text" class="w-full mb-2 px-4 py-2 rounded-md border border-gray-300 placeholder-gray-500 focus:outline-none focus:border-indigo-500" placeholder="Descripcion" name="descripcion" required>
            <input type="number" class="w-full mb-2 px-4 py-2 rounded-md border border-gray-300 placeholder-gray-500 focus:outline-none focus:border-indigo-500" placeholder="$ 0.00" name="precio" required>
            <button
            class="w-full px-4 py-3 rounded-md bg-indigo-500 text-white font-semibold hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600"
            type="submit">Agregar</button>
        </form>
    </div>
</div>

{% endblock content %}
