{% extends "_base.html" %}

{% block content %}
<div class="bg-gray-100 p-4 rounded-lg shadow-md justify-between max-w-md mx-auto">
    <div class="font-semibold text-lg mb-2">{{ plan.nombre }}</div>
    <div class=" mb-4">
        <div class="w-1/2 pr-2">
            <div><span class="font-semibold">Descripcion:</span> {{ plan.descripcion }}</div>
        </div>



            <div class="font-semibold mb-2 mt-2">Servicio</div>

            <div>
                <div><span class="font-semibold">Nombre:</span> {{ servicio.nombre }}</div>
                <div><span class="font-semibold">Desc:</span> {{ servicio.descripcion }}</div>
            </div>

    </div>
    <div class="font-semibold mb-2">Precio:</div>
    <div class="flex">
        <div class="w-3/4 pr-2">
            <div><span class="font-semibold"></span> {{ plan.precio }}</div>
        </div>
        <div class="w-1/4 pl-2">
            <!-- <div><span class="font-semibold">Número:</span> {{ direccion.numero_calle }}</div> -->
        </div>
    </div>
    <div class="my-4 flex ">
        <!-- {% include 'clientes/enviarWsp.html' with numero=contacto.celular %} -->
        <a href="{% url 'planes:editarPlan' plan.id %}" class="mr-2">
            <button class="flex items-center px-4 py-2 rounded-md bg-indigo-500 text-white font-semibold hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
                <svg width="18px" height="18px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="m3.99 16.854-1.314 3.504a.75.75 0 0 0 .966.965l3.503-1.314a3 3 0 0 0 1.068-.687L18.36 9.175s-.354-1.061-1.414-2.122c-1.06-1.06-2.122-1.414-2.122-1.414L4.677 15.786a3 3 0 0 0-.687 1.068zm12.249-12.63 1.383-1.383c.248-.248.579-.406.925-.348.487.08 1.232.322 1.934 1.025.703.703.945 1.447 1.025 1.934.058.346-.1.677-.348.925L19.774 7.76s-.353-1.06-1.414-2.12c-1.06-1.062-2.121-1.415-2.121-1.415z" fill="#ffffff"></path>
                    </g>
                </svg>
                Editar
            </button>
        </a>

        <button
        onclick="history.back()"
        class="px-4 py-2 rounded-md bg-indigo-500 text-white font-semibold hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600"
        type="submit">
        Volver
        </button>
        
    </div>
    <div class="my-4">
        <!-- {% include 'clientes/llamarCliente.html' with numero=contacto.celular %} -->


        
    </div>

</div>

{% endblock content %}
