{% extends "_base.html" %}

{% block content %}

<div class="container mx-auto p-4">
    <h1>Planes</h1>
    <div>
        <select onchange="obtenerPlanesPorServicio()" class="w-full mb-2 px-4 py-2 rounded-md border border-gray-300 placeholder-gray-500 focus:outline-none focus:border-indigo-500" name="servicio">
            {% for servicio in servicios %}
            <option value="{{servicio.id}}">{{servicio.nombre}}</option>
            {% endfor %}
        </select>
        
    </div>  
    <table class="w-full border-collapse mb-4">
        <thead>
            <tr>
                <th class="px-4 py-2 bg-indigo-500 text-white font-semibold">Nombre</th>
                <th class="px-4 py-2 bg-indigo-500 text-white font-semibold">Descripcion</th>
                <th class="px-4 py-2 bg-indigo-500 text-white font-semibold">Precio</th>
                <th class="px-4 py-2 bg-indigo-500 text-white font-semibold">Fecha de creacion</th>
                <th class="px-4 py-2 bg-indigo-500 text-white font-semibold">Ultima actualizacion</th>
            </tr>
        </thead>
        <tbody id="cuerpoTabla">
            <!-- Aquí irían los datos de los planes, llenados por JavaScript -->
        </tbody>
    </table>
</div>
<script>
    function obtenerPlanesPorServicio() {
        const servicio = document.querySelector('select[name="servicio"]').value;
        fetch(`/planes/listarPlanesPorServicio/?servicio_id=${servicio}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const cuerpoTabla = document.getElementById('cuerpoTabla');
                cuerpoTabla.innerHTML = ''; // Limpiar contenido previo de la tabla

                // Iterar sobre cada plan y agregar una fila a la tabla por cada uno
                if(data.length > 0 ){
                    
                    data.forEach(plan => {
                        const url = `/planes/${plan.id}/`;
                        // console.log(plan)
                        const fila = `
                            <tr>
                            <td class="px-4 py-2 border">${plan.nombre}</td>
                            <td class="px-4 py-2 border">${plan.descripcion}</td>
                            <td class="px-4 py-2 border">${plan.precio}</td>
                            <td class="px-4 py-2 border">${plan.creado_en}</td>
                            <td class="px-4 py-2 border">${plan.editado_en}</td>
                            <td class="px-4 py-2 border">
                                <a href="${url}" class="text-blue-500 hover:text-blue-700">Ver</a>
                            </td>
                            </tr>
                            `;
                            cuerpoTabla.innerHTML += fila;
                        });
                    }
                    else{
                        cuerpoTabla.innerHTML = 'NO TIENE PLANES ADHERIDOS AL SERVICIO'

                    }
            })
            .catch(error => {
                console.error('Hubo un problema al obtener los datos:', error);
            });
    }
</script>
{% endblock content %}