{% extends "_base.html" %}

{% block content %}

<div class="max-w-md mx-auto items-center p-4">
    <!-- <h1>Planes</h1> -->
    <div>
        <select onchange="obtenerPlanesPorServicio()"
            class="w-full mb-2 px-4 py-2 rounded-md border border-gray-300 placeholder-gray-500 focus:outline-none focus:border-indigo-500"
            name="servicio">
            <option value="" disabled selected hidden>Selecciona un servicio</option>

            {% for servicio in servicios %}
            <option value="{{servicio.id}}">{{servicio.nombre}}</option>
            {% endfor %}
        </select>

    </div>
    <div id="cuerpoTabla">
        <div class="max-w-md mt-8" style="color:rgb(110,110,110,0.8)"><span class="mx-auto">Ningun servicio seleccionado</span></div>
    </div>
</div>
<script>
    function obtenerPlanesPorServicio() {
        const servicio = document.querySelector('select[name="servicio"]').value;
        fetch(`/planes/listarPlanesPorServicio/?servicio_id=${servicio}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const cuerpoTabla = document.getElementById('cuerpoTabla');
                cuerpoTabla.innerHTML = ''; // Limpiar contenido previo de la tabla

                // Iterar sobre cada plan y agregar una fila a la tabla por cada uno
                if (data.length > 0) {

                    data.forEach(plan => {
                        const url = `/planes/${plan.id}/`;
                        // console.log(plan)
                        const fila = `
                        <style>
                            .flex-container:active {
                                opacity:.5
                            } :hover {
                                bacground-color: rgb(0,0,0,0.05);
                            }
                        </style>
                        <a href="${url}">
                            <div class="flex flex-row justify-between space-y-2 items-center flex-container p-2 rounded">
                                <div class="flex flex-col">
                                    <span class="font-semibold text-sm">${plan.nombre}</span>
                                    <span class="text-sm">${plan.descripcion}</span>
                                    <span class="text-sm" style="color:rgb(110,110,110,0.8)">creado: ${plan.creado_en}</span>
                                    <span class="text-sm" style="color:rgb(110,110,110,0.8)">ultima edicion: ${plan.editado_en}</span>
                                </div>
                                <div class="flex flex-col">
                                    <span class="font-bold" style="color: rgba(99, 101, 241)">${plan.precio}</span>


                                </div>
                            </div>
                        </a>
                            `;
                        cuerpoTabla.innerHTML += fila;
                    });
                }
                else {
                    cuerpoTabla.innerHTML = 'NO TIENE PLANES ADHERIDOS AL SERVICIO'

                }
            })
            .catch(error => {
                console.error('Hubo un problema al obtener los datos:', error);
            });
    }
</script>
{% endblock content %}