{% extends "_base.html" %}

{% block content %}



<div class="container-detalle-cliente">
    <div class="container-datos-personales">
        <h1 style="font-weight: 600; font-size: 1.125rem;">{{cliente.nombre}}</h1>
        <div class="datos-container"> 

            <label class="label-datos">
                DNI
            </label>
            <span class="datos">
                {{cliente.dni}}
            </span>
        </div>
        <div class="datos-container"> 

            <label class="label-datos">
                Telefono
            </label>
            <span class="datos">
                {{contacto.celular}}
            </span>
        </div>
        <div class="datos-container"> 

            <label class="label-datos">
                Email:
            </label>
            <span class="datos">
                {{contacto.email}}
            </span>
        </div>
        <div class="datos-container"> 

            <label class="label-datos">
                Direccion:
            </label>
            <span class="datos">
                {{direccion.direccion_completa}}
            </span>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">

        {% include 'clientes/enviarWsp.html' with numero=contacto.celular %}
        
        
        
        {% include 'clientes/llamarCliente.html' with numero=contacto.celular %}
    </div>


</div>
<style>
    .container-detalle-cliente {
        width: 80%;
        margin: auto;

    }

    .container-datos-personales {
        /* background-color: aqua; */
        padding: 1rem;
    }

    .datos {
        color: rgb(105, 105, 105);
        font-weight: 500;
    }

    .label-datos {
        color: rgb(105, 105, 105);

    }
    .datos-container {
        display: flex;
        flex-direction: column;
    }
</style>




<script>
    function guardarUbicacion() {
        const options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0,
        };

        function success(pos) {
            const crd = pos.coords;

            console.log("Tu ubicación actual es:");
            console.log(`Latitud : ${crd.latitude}`);
            console.log(`Longitud: ${crd.longitude}`);
            console.log(`Más o menos ${crd.accuracy} metros.`);

            alert(crd.longitude)
        }

        function error(err) {
            alert(`ERROR(${err.code}): ${err.message}`);
        }

        navigator.geolocation.getCurrentPosition(success, error, options);



    }


</script>


{% endblock content %}