{% extends "_base.html" %}

{% block content %}

<div class="max-w-7xl mx-auto">
    <div class="flex mb-4">
        <style>
            @media (max-width: 640px) {
                .flex-container-form {
                    width: 100%;
                }
            }
        </style>
        <form action="" method="post" class="flex items-center flex-container-form">
            {%csrf_token%}
            <input id="buscador" name="buscador"
                class="flex-1 mr-2 px-4 py-3 rounded-md border border-gray-300 placeholder-gray-500 focus:outline-none focus:border-indigo-500"
                type="text" placeholder="Buscar por nombre o DNI">
            <button type="submit"
                class="px-4 py-3 rounded-md bg-indigo-500 text-white font-semibold hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Buscar</button>
        </form>
    </div>

    {% for cliente in clientes %}

    <style>
        .flex-container:active {
            background-color: rgb(221, 221, 221);
        }
    </style>
    
    <a href="{%url 'clientes:detailCliente' cliente.id %}" style="touch-action: auto; cursor: pointer;">
        <div class="flex flex-row justify-between space-y-2 flex-container items-center p-2">
            <div class="flex flex-col">
                <span class="font-semibold text-sm">{{ cliente.nombre }}</span>
                <span class="font-semibold text-sm" style="color: rgba(99, 101, 241, 0.555)">{{ cliente.dni }}</span>
            </div>
            <div class="flex flex-col">
                <span>{{cliente.}}</span>

            </div>
        </div>
    </a>
    <!-- <a href="{%url 'clientes:detailCliente' cliente.id %}" class="self-end">
        <button
        class="px-3 rounded-lg py-2 bg-indigo-500 text-white font-semibold hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">
        Ver más
    </button>
</a> -->
    {% endfor %}
</div>

{% endblock content %}